@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alfa+Slab+One&family=Anton&family=Cabin&family=Dancing+Script:wght@400;600&family=Jost&family=Kaushan+Script&family=Lobster&family=Permanent+Marker&family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alfa+Slab+One&family=Anton&family=Cabin&family=Caveat:wght@700&family=Dancing+Script:wght@500&family=Jost&family=Kaushan+Script&family=Lobster&family=Permanent+Marker&family=Sansita+Swashed&display=swap');

*{
    padding: 0px;
    margin: 0px;
    
}

body{
    background-color: aqua;
}

/* nav{
    font-family: 'Sansita Swashed', cursive;
} */

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 15px;
    font-family: 'Caveat', cursive;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: 'Sansita Swashed', cursive;
}
.brand img{
    height: 40px;
    padding: 0 8px;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: 20px auto;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    flex-direction: column;
}

.icons{
    margin: 5px 14px;
}

.icons i{
    cursor: pointer;
}

#myprogressbar{
    width: 80vw;
}

.songItem{
    font-family: 'Caveat', cursive;
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.songItem img{
    width: 40px;
    border-radius: 10px;
}
